<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project_category.name %>
</p>

<%= link_to 'Edit', edit_project_category_path(@project_category) %> |
<%= link_to 'Back', project_categories_path %>
