<div class="contract">
	<div class="contract_details">
		<dl class="dl-horizontal">
			<dt>Project Name</dt>
			<dd>Road Construction Road Construction Road Construction Road</dd>

			<dt>Project Location</dt>
			<dd>Road Construction Road Construction Road Construction Road</dd>

			<dt>Amount Funded</dt>
			<dd>$100000</dd>

			<dt>Date Funded</dt>
			<dd>5 May, 2014</dd>

			<dt>Contract Given to</dt>
			<dd>Shakti Road Services</dd>

			<dt>Current Status</dt>
			<dd>Completed</dd>

		</dl>
	</div>
</div>

<div class="feedback_container">
	<div class="feedbacks">
		<div class="feedback_enter">
			<p class="user">Prateek Agarwal</p>
			<textarea class="form-control" rows="4" placeholder="Post feedback"></textarea>
			<input type="file" class="btn pull-left" />
			<button type="button" class="btn btn-warning">Submit</button>
		</div>

		<div class="feedback">
			<p class="user">Prateek Agarwal</p>
			<img class="feedback_image" src="img/maps.jpg" />
			<p class="feedback_text">
				svjfv vej vf   sbvhkjvnsd   bbvkdjnvkkjd fvkd lkddnvkf  df vnv kdf vle  kdkvkjc kdf v dvv e
				bdskvndk  lkjd vdf sdj  kj f  jnff
			</p> 
		</div>

		<div class="feedback">
			<p class="user">Prateek Agarwal</p>
			<p class="feedback_text">
				svjfv vej vf   sbvhkjvnsd   bbvkdjnvkkjd fvkd lkddnvkf  df vnv kdf vle  kdkvkjc kdf v dvv e
				bdskvndk  lkjd vdf sdj  kj f  jnff
			</p> 
		</div>

		<div class="feedback">
			<p class="user">Prateek Agarwal</p>
			<img class="feedback_image" src="img/maps.jpg" />
			<p class="feedback_text">
				svjfv vej vf   sbvhkjvnsd   bbvkdjnvkkjd fvkd lkddnvkf  df vnv kdf vle  kdkvkjc kdf v dvv e
				bdskvndk  lkjd vdf sdj  kj f  jnff
			</p> 
		</div>

		<div class="feedback">
			<p class="user">Prateek Agarwal</p>
			<p class="feedback_text">
				svjfv vej vf   sbvhkjvnsd   bbvkdjnvkkjd fvkd lkddnvkf  df vnv kdf vle  kdkvkjc kdf v dvv e
				bdskvndk  lkjd vdf sdj  kj f  jnff
			</p> 
		</div>
	</div>
</div>